@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/profile.css);

@import url(../blocks/cards.css);

@import url(../blocks/card.css);

.card {
  display: flex;  
  flex-direction: column;
  list-style: none; 
  border-radius: 10px;        
}   

.card__image {
  width: 282px;  
  height: 282px; 
  border-radius: 10px 10px 0 10px;
}

.card__description {
  display: flex;  
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 28px;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;  
  width: 21px;
  height: 18px;
  margin-left: 28px;
  border-style: none;
}

.card__like-button:hover {
  opacity: 0.6;  
  cursor: pointer;
  transition: 0.1s;
}

.footer {
  margin: auto;
  max-width: 880px;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 60px;  
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;  
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: auto;
    max-width: 282px;
  }

  .footer__copyright {
    display: flex;
    width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
