.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 50px;
}

.profile__image {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  max-width: 425px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background: transparent url(../images/edit-pencil.svg) center no-repeat;
  background-size: 10px 10px;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  grid-area: button;
  border: 1px solid #fff;
  transition: 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  max-width: 373px;
  grid-area: description;
  margin: 0;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add-sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.1s;
}
  
@media screen and (max-width: 880px) {
  .profile {
    max-width: 575px;
  }
  .profile__picture {
    margin-left: 0;
  }
  .profile__info {
    margin-right: 0;
    max-width: 240px;
  }
  .profile__title {
    font-size: 22px;
    max-width: 200px;
    min-width: 170px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__add-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .profile__picture {
    margin: 0 auto;
  }

  .profile__info {
    justify-content: center;
    gap: 14px 10px;
    margin-top: 27px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 17px;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
    padding: 38px 0 0 0;
  }
  
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 282px;
    margin-left: 0;
  }
  
  .profile__image {
    margin-right: 0;
    margin-bottom: 26.25px;
  }
  
  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
  
  .profile__add-button {
    margin: 0;
    width: 282px;
    background-size: 16px 16px;
  }
  
  .profile__title {
    text-align: center;
  }
  
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    background-size: 7.5px 7.49px;
  }
}